{% extends "base.html" %} {% load static %}

{% block title %}Add Job Offer - Job.it{% endblock %}

{% block navbar_extra %}
    <div class="position-absolute top-50 start-50 translate-middle">
        <button type="button" class="btn btn-secondary me-2" onclick="window.location.href='/'">Candidates</button>
        <button type="button" class="btn btn-secondary" onclick="window.location.href='/listings'">My Listings</button>
    </div>
{% endblock %}

{% block content %}
    <div class="container mt-5">
        <div class="card shadow p-4">
            <h2 class="text-center">Add New Job Offer</h2>
            <form method="POST" action="{% url 'add_listing' %}">
                {% csrf_token %}
                {{ form.non_field_errors }}

                <div class="mb-3">
                    {{ form.job_title.label_tag }}
                    {{ form.job_title }}
                </div>
                <div class="mb-3">
                    {{ form.company_name.label_tag }}
                    {{ form.company_name }}
                </div>
                <div class="mb-3">
                    {{ form.about_company.label_tag }}
                    {{ form.about_company }}
                </div>
                <div class="mb-3">
                    {{ form.job_description.label_tag }}
                    {{ form.job_description }}
                </div>
                <div class="mb-3">
                    <label class="form-label">Skills</label>
                    <div id="skillsList">
                        <div class="d-flex align-items-center">
                            <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal"
                                    data-bs-target="#addSkillModal">Add skill <i
                                    class="bi bi-plus-lg"></i></button>
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label">Salary Range</label>
                    <div class="row">
                        <div class="col-md-4">
                            {{ form.salary_min }}
                        </div>
                        <div class="col-md-4">
                            {{ form.salary_max }}
                        </div>
                        <div class="col-md-4">
                            {{ form.salary_currency }}
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    {{ form.job_location.label_tag }}
                    {{ form.job_location }}
                    <div id="locationSuggestions" class="list-group"></div>
                </div>
                <input type="hidden" name="skills_data" id="skillsListForListing">
                <button type="submit" class="btn btn-primary w-100">Submit</button>
            </form>
        </div>
    </div>

    <div class="modal fade" id="addSkillModal" tabindex="-1" aria-labelledby="addSkillModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addSkillModalLabel">Add New Skill</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="invalid-feedback text-center fs-7" id="skillExistsFeedback">Skill already added.</div>
                    <form id="addSkillForm">
                        <div class="mb-3 position-relative">
                            <label for="searchSkillInput" class="form-label">Skill Name</label>
                            <input type="text" class="form-control" id="searchSkillInput"
                                   placeholder="Type to search..."/>
                            <div class="dropdown" style="position: relative;">
                                <select
                                        class="form-control custom-select-menu"
                                        id="skillNameSelect"
                                        size="5"
                                        style="max-height: 150px; overflow-y: auto; position: absolute; z-index: 1050; display: none; background: white; border: 1px solid #ced4da; width: 100%;"
                                >
                                </select>
                            </div>
                            <div class="invalid-feedback" id="skillNameFeedback">Skill name cannot be empty.</div>
                        </div>
                        <div class="mb-3 position-relative">
                            <label class="form-label">Skill Level</label>
                            <div class="progress position-relative" style="height: 30px; cursor: pointer;">
                                <div class="progress-bar bg-success" id="beginner" role="progressbar"
                                     style="width: 33%;" aria-valuenow="1" aria-valuemin="1" aria-valuemax="3">Beginner
                                </div>
                                <div class="progress-bar bg-warning" id="intermediate" role="progressbar"
                                     style="width: 33%;" aria-valuenow="2" aria-valuemin="1" aria-valuemax="3">
                                    Intermediate
                                </div>
                                <div class="progress-bar bg-danger" id="advanced" role="progressbar" style="width: 34%;"
                                     aria-valuenow="3" aria-valuemin="1" aria-valuemax="3">Advanced
                                </div>
                            </div>
                            <input type="hidden" id="skillLevelSelect" name="skillLevel" value="10"/>
                            <div class="invalid-feedback" id="skillLevelFeedback">Skill level cannot be empty.</div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" id="addSkillButton">Add</button>
                </div>
            </div>
        </div>
    </div>
    <script src="{% static 'js/recruiter.js' %}"></script>
    <script>


        let SKILLS_LIST = [];

        fetchSkills(SKILLS_URL)
            .then(skills => {
                SKILLS_LIST = skills;
                console.log("Loaded skills list.");
            })
            .catch(error => console.error("Error during fetching skills:", error));


        // Job location logic
        document.addEventListener("DOMContentLoaded", function () {
            const locationInput = document.getElementById("id_job_location");
            const suggestionsDiv = document.getElementById("locationSuggestions");
            locationInput.addEventListener("input", function () {
                const query = locationInput.value;
                if (query.length < 3) {
                    suggestionsDiv.innerHTML = "";
                    return;
                }

                fetch(`https://nominatim.openstreetmap.org/search?format=json&q=${query}`)
                    .then(response => response.json())
                    .then(data => {
                        suggestionsDiv.innerHTML = "";
                        data.forEach(location => {
                            const item = document.createElement("div");
                            item.classList.add("list-group-item", "list-group-item-action");
                            item.textContent = location.display_name;
                            item.addEventListener("click", function () {
                                locationInput.value = location.display_name;
                                suggestionsDiv.innerHTML = "";
                            });
                            suggestionsDiv.appendChild(item);
                        });
                    });
            });

            document.addEventListener("click", function (event) {
                if (!suggestionsDiv.contains(event.target)) {
                    suggestionsDiv.innerHTML = "";
                }
            });
        });

        function getSkillId(skillName) {
            let selectElement = document.getElementById('skillNameSelect');
            let skillsArray = selectElement.children;
            for (skillObject of skillsArray) {
                if (skillObject.textContent == skillName) {
                    return skillObject.value;
                }
            }
        }

        // Add skill logic
        let SKILLS_IN_LISTING = [];
        document.getElementById('addSkillButton').addEventListener('click', function () {
            const skillName = document.getElementById('searchSkillInput').value.trim();
            const skillLevel = document.getElementById('skillLevelSelect').value;

            let isValid = true;

            if (!skillName) {
                showError('skillNameFeedback')
                isValid = false;
            } else {
                hideError('skillNameFeedback')
            }

            if (skillLevel != 1 && skillLevel != 2 && skillLevel != 3) {
                showError('skillLevelFeedback')
                isValid = false;
            } else {
                hideError('skillLevelFeedback')
            }

            if (isValid) {
                let skillId = getSkillId(skillName);
                let skill = {"id": skillId, "name": skillName, "level": skillLevel};
                if (addSkillToSkillsList(skill)) {
                    resetAddSkillModal();
                    hideModal();
                    console.log(`Added skill: ${skillName} - Level: ${skillLevel}`);
                } else {
                    showError('skillExistsFeedback');
                    console.log(`Cannot add skill: ${skillName} - Level: ${skillLevel}`);
                }
            } else {
                hideError('skillExistsFeedback');
                console.log('Cannot add skill')
            }
        });

        function addSkillToSkillsList(skill) {
            for (let i = 0; i < SKILLS_IN_LISTING.length; i++) {
                if (skill.id == SKILLS_IN_LISTING[i].id && skill.name == SKILLS_IN_LISTING[i].name)
                    return false
            }
            SKILLS_IN_LISTING.push(skill);
            addSkillItem(skill);
            return true;
        }

        // Search skill logic
        document.addEventListener("DOMContentLoaded", function () {
            const searchInput = document.getElementById("searchSkillInput");
            const skillSelect = document.getElementById("skillNameSelect");
            let isOptionSelected = false;

            searchInput.addEventListener("focus", () => {
                skillSelect.style.display = "block";
            });

            searchInput.addEventListener("input", function () {
                const filter = this.value.toLowerCase();
                const options = skillSelect.querySelectorAll("option");

                isOptionSelected = false;
                options.forEach(option => {
                    if (option.textContent.toLowerCase().includes(filter)) {
                        option.style.display = "";
                    } else {
                        option.style.display = "none";
                    }
                });
            });

            document.addEventListener("click", function (event) {
                if (!searchInput.contains(event.target) && !skillSelect.contains(event.target)) {
                    if (!isOptionSelected) {
                        searchInput.value = "";
                    }
                    skillSelect.style.display = "none";
                }
            });

            skillSelect.addEventListener("change", function () {
                searchInput.value = this.options[this.selectedIndex].text;
                isOptionSelected = true;
                skillSelect.style.display = "none";
            });

            const skillLevels = document.querySelectorAll(".progress-bar");
            const selectedSkillLevelInput = document.getElementById("skillLevelSelect");
            selectedSkillLevelInput.value = 10;

            skillLevels.forEach(level => {
                level.addEventListener("click", function () {
                    skillLevels.forEach(l => l.classList.remove("active"));
                    this.classList.add("active");
                    selectedSkillLevelInput.value = this.getAttribute("aria-valuenow");

                });
            });
        });

        // Listen on modal close
        document.addEventListener("DOMContentLoaded", function () {
            let skillModal = document.getElementById("addSkillModal");

            skillModal.addEventListener("shown.bs.modal", function () {
                console.log("Modal opened.");
                fetchSkills(SKILLS_URL)
                    .then(skills => {
                        loadSkills(skills);
                    })
                    .catch(error => console.error("Error while loading skills:", error));
            });

            skillModal.addEventListener("hidden.bs.modal", function () {
                console.log("Modal closed.");
                resetAddSkillModal();
            });
        });

        // Skills list
        function generateSkillHTML(skill) {
            let progressBarClass = "bg-danger";
            let progressWidth = "100%";
            let progressValue = 100;

            if (skill.level == 1) {
                progressBarClass = "bg-success";
                progressWidth = "33%";
                progressValue = 33;
            } else if (skill.level == 2) {
                progressBarClass = "bg-warning";
                progressWidth = "66%";
                progressValue = 66;
            }

            return `
        <div id="skillItem-${skill.id}">
            <div class="d-flex align-items-center">
                <small class="w-100 text-truncate">${skill.name}</small>
                <i class="bi bi-x-lg ms-auto" style="font-size: 1rem; color: black; cursor: pointer;"
                   onclick="removeSkillListItem('${skill.id}')"
                   data-bs-toggle="modal" data-bs-target="#editSkillModal"></i>
            </div>
            <div class="progress mb-3" style="height: 5px;">
                <div class="progress-bar ${progressBarClass}" role="progressbar"
                     style="width: ${progressWidth};" aria-valuenow="${progressValue}"
                     aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </div>
    `;
        }

        function addSkillItem(skill) {
            let skillsList = document.getElementById("skillsList");
            let skillHTML = generateSkillHTML(skill);
            skillsList.innerHTML += skillHTML;
        }

        function removeSkillListItem(skill) {
            let skillsList = document.getElementById("skillsList");
            let skillItem = document.getElementById("skillItem-".concat(skill.id));
            skillItem.innerHTML = '';
        }

        // Send skills logic
        function updateSkillsInput() {
            let skillsDataInput = document.getElementById("skillsListForListing");
            skillsDataInput.value = JSON.stringify(SKILLS_IN_LISTING);
        }

        document.querySelector("form").addEventListener("submit", function () {
            updateSkillsInput();
        });


    </script>
{% endblock %}
