{% extends "base.html" %}

{% block title %}Index - Job.it{% endblock %}

{% block navbar_extra %}
    <div class="position-absolute top-50 start-50 translate-middle">
        <button type="button" class="btn btn-primary me-2" onclick="window.location.href='/job.it'">Search Jobs</button>
        <button type="button" class="btn btn-secondary" onclick="window.location.href='/job.it/worker_profile'">My Profile</button>
    </div>
{% endblock %}

{% block content %}
    <div class="card shadow mx-auto my-5 p-4">
        <h1>HELLO FROM INDEX WORKER!</h1>
    </div>
{% endblock %}
